<%= stylesheet_link_tag 'users' %>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant Management System</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
    <td><button class="btn btn-info btn-lg" onclick="window.history.back()">Back</button></td>
    <section class="bg-light">
    <div class="container">
          <div class="row">
              <div class="col-lg-12 mb-4 mb-sm-5">
                  <div class="card card-style1 border-0">
                      <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                          <div class="row align-items-center">
                              <div class="col-lg-6 mb-4 mb-lg-0">
                                  <% if @user.gender == "MALE" %>
                                        <%= image_tag 'https://bootdey.com/img/Content/avatar/avatar7.png', height: '300px', width:'300px', alt: 'Male Avatar' %>
                                            <% elsif @user.gender == "FEMALE" %>
                                            <%= image_tag 'https://static.vecteezy.com/system/resources/previews/009/354/844/original/female-character-people-profile-perfect-for-social-media-and-business-presentations-user-interface-ux-graphic-and-web-design-applications-and-interfaces-hand-draw-illustration-vector.jpg' , height: '300px', width:'300px', alt: 'Female Avatar' %>
                                  <% end %>
                              </div>
                              <div class="col-lg-6 px-xl-10">
                                  <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                      <h3 class="h2 text-white mb-0"> <%= @user.name%></h3>
                                      <span class="text-info"><%= @user.role%></span>
                                  </div>
                                  <ul class="list-unstyled mb-1-9">
                                      <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Role:</span> <%= @user.role%></li>
                                      <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> <%= @user.email%></li>
                                      <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Address:</span> <%= @user.address%></li>
                                      <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Contact:</span> <%= @user.contact%></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
    </div>
	</body>
</html>